<!--
  @description       : 
  @author            : ethan.k@digitalmass.com
  @group             : 
  @last modified on  : 07-29-2020
  @last modified by  : ethan.k@digitalmass.com
  Modifications Log 
  Ver   Date         Author                    Modification
  1.0   07-29-2020   ethan.k@digitalmass.com   Initial Version
-->
<template>
    <div onclick={selectBoat} class={tileClass}>
      <div style={backgroundStyle} class="tile"></div>
      <div class="lower-third">
        <!-- Boat information goes here -->
      </div>
    </div>
</template>
  