<!--
  @description       : 
  @author            : ethan.k@digitalmass.com
  @group             : 
  @last modified on  : 07-29-2020
  @last modified by  : ethan.k@digitalmass.com
  Modifications Log 
  Ver   Date         Author                    Modification
  1.0   07-29-2020   ethan.k@digitalmass.com   Initial Version
-->
<template>
    <lightning-layout>
      <lightning-layout-item class="slds-align-middle">
        <lightning-combobox class="slds-align-middle"
                            value={selectedBoatTypeId}
                            options={searchOptions}
                            onchange={handleSearchOptionChange}>
        </lightning-combobox>
      </lightning-layout-item>
    </lightning-layout>
  </template>
  