<!--
  @description       : 
  @author            : ethan.k@digitalmass.com
  @group             : 
  @last modified on  : 07-29-2020
  @last modified by  : ethan.k@digitalmass.com
  Modifications Log 
  Ver   Date         Author                    Modification
  1.0   07-29-2020   ethan.k@digitalmass.com   Initial Version
-->
<template>
    <lightning-layout multiple-rows>
      <!-- Top -->
      <lightning-layout-item size="12">
        <lightning-card title="Find a Boat">
          <!-- New Boat button goes here -->
            <lightning-button 
              onclick={createNewBoat}
              title="New Boat"
              label="New Boat">
            </lightning-button>
          <p class="slds-var-p-horizontal_small">
            <c-boat-search-form>

            </c-boat-search-form>
          </p>
        </lightning-card>
      </lightning-layout-item>
      <!-- Bottom -->
      <lightning-layout-item size="12" class="slds-p-top_small slds-is-relative">
        <!-- Spinner goes here -->
        <!--<lightning-spinner></lightning-spinner>-->
        <!-- boatSearchResults goes here -->
        <!-- onloading={handleLoading} ondoneloading={handleDoneLoading} -->
      </lightning-layout-item>
    </lightning-layout>
  </template>
  